[submodule "io"]
	path = io
	url = https://github.com/growhardware/huertos-ui
[submodule "backend"]
	path = backend
	url = https://github.com/growhardware/huertosAPI
[submodule "org"]
	path = org
	url = https://github.com/growhardware/organization
[submodule "foundation"]
	path = foundation
	url = https://github.com/growhardware/foundation
